*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #f4f4fc;
}
header{
    width: 100%;
    height: 70px;
}
.Logo{
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
}
main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.ContenedorCajaTexto{
    position: absolute;
    left: 5%;
    top: 5%;
    padding-left: 100px;
    width: 60%;
    height: 60%;
}
.CajaTexto{
    position: absolute;
    width: 70%;
    height: 100%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.CajaTexto::placeholder{
    color: #0A3871;
    font-size: 1.5vw;
}
.Reglas{
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
    display: flex;
    color: #495057;
    font-size: 1vw;
}
.Reglas p{
    padding-left: 10px;
}
.Reglas img {
    width: 1%;
}
.ContenedorBtn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
    font-size: 32px;
}
.btnEncriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    border-radius: 1.5vw;
    background-color: #0A3871;
    color: white;
    font-size: 1vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}
.btnDesencriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    border-radius: 1.5vw;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 1vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
}
.Seccion2{
    align-items: center;
    justify-content: center;
    display: block;
    position: absolute;
    width: 23%;
    height: 93%;
    right: 10%;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 1.5vw;
    box-shadow: 0px 1.5vw 2vw -8px rgba(0, 0, 0, 0.50);
}
.ContenedorMuñeco{
    position: absolute;
    width: 130%;
    height: 90%;
    top: 15%;
}
.ContenedorMuñeco img{
    width: 80%;
    height: 50%;
    top: 15%;
}
.ContenedorParrafo{
    position: absolute;
    box-sizing: border-box;
    top: 70%;
    left: 10%;
    right: 10%;
}
.ContenedorParrafo h3{
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
}
.ContenedorParrafo p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}
.ContenedorResultado{
    position: absolute;
    top: 5%;
    width: 90%;
    height: 50%;
    padding: 0;
    box-sizing: border-box;
    margin-left: 5%;
    background-color: transparent;
}
.ContenedorResultado p{
    color: #495057;
    font-size: 1.5vw;
}
.ContenedorCopy{
    display: flex;
    position: absolute;
    bottom: 10%;
    right: 1%;
    background-color:transparent;
    padding-left: 40px;
}
.btnCopy{
    display: none;
    width: 22svw;
    height: 4vw;
    border-radius: 1.5vw;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 1vw;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 10%;
}
.Visible1 {
    display: block;
}
.ocultar{
    display: none;
}
@media (max-width: 768px) {
    .Seccion{
        width: 375px;
        height: 900px;
    }
    main{
        position: absolute;
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
    }
    .Logo{
        width: 100px;
        padding-top: 10px;
        padding-left: 0;
        margin: 0;
    }
    .CajaTexto{
        width: 180%;
        height: 200%;
        font-size: 32px;
        font-weight: 400;
    }
    .ContenedorCajaTexto{
        position: absolute;
        left: 0;
        top: 100px;
        padding-left: 35px;
        width: 350px;
        height: 300px;
    }
    .CajaTexto::placeholder{
        color: #0A3871;
        font-size: 4vw;
    }
    .Reglas{
        position: absolute;
        top: 750px;
        left: 30px;
        font-size: 16px;
        font-weight: 400;
    }
    .Reglas img{
        width: 16px;
        padding-right: 10px;
    }
    .ContenedorBtn{
        display: flex;
        position: absolute;
        top: 780px;
        width: 688px;
        height: 67px;
        left: 5%;
        gap: 24px;
    }
    .btnEncriptar{
        width: 343px;
        height: 67px;
        padding: 24px;
        border-radius: 24px;
        font-size: 16px;
        font-weight: 400;
    }
    .btnDesencriptar{  
        width: 343px;
        height: 67px;
        padding: 24px;
        border-radius: 24px;
        font-size: 16px;
        font-weight: 400;
    }
    .ContenedorMuñeco{
        display: none;
    }
    .Seccion2{   
        position: absolute;
        top: 930px;
        width: 688px;
        height: auto;
        left: 40px;
        padding: 32px;
        border-radius: 32px;
    }
    .ContenedorResultado{
        position: relative;
        top: 0px;
        bottom: 0px;
        width: 635px;
        height: auto;
        margin-left: 0px;
    }
    .ContenedorResultado p{
        color: #495057;
        font-size: 5vw;
    }
    .ContenedorParrafo{
        position: absolute;
        gap: 16px;
        top: 20px;
        width: 635px;
        left: 25px;
        height: auto;
    }
    .ContenedorParrafo h3{
        font-size: 24px;
        font-weight: 700;
        height: auto;
    }
    .ContenedorParrafo p{
        font-weight: 400;
        font-size: 2vw;
        padding-top: 20px;
        height: auto;
    }
    .btnCopy{
        top: 10px;
        right: 40px;
        border-radius: 24px;
        font-size: 16px;
        font-weight: 400;
        display: none;
    }
    .ContenedorCopy{
        position: relative;
        top: 0;
        width: 599px;
        height: 10px;
        background-color: transparent;
    }
    .Visible {
        width: 624px;
        height: 67px;
        display: block;
    }
}
@media (max-width: 375px) {
    .Seccion{
        width: 375px;
        height: 900px;
    }
    main{
        position: absolute;
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-between;
    }
    .Logo{
        width: 100px;
        padding-top: 10px;
        padding-left: 0;
        margin: 0;
    }
    .CajaTexto{
        width: 100%;
        height: 100%;
        font-size: 32px;
        font-weight: 400;
    }
    .ContenedorCajaTexto{
        position: absolute;
        left: 0;
        top: 100px;
        padding-left: 13px;
        width: 350px;
        height: 300px;
    }
    .CajaTexto::placeholder{
        color: #0A3871;
        font-size: 6vw;
    }
    .Reglas{
        position: absolute;
        top: 420px;
        left: 20px;
        font-size: 12px;
        font-weight: 400;
    }
    .Reglas img{
        width: 16px;
        padding-right: 0;
    }
    .ContenedorBtn{
        display: block;
        position: relative;
        top: 435px;
        width: 343px;
        height: 158px;
        padding-left: 5px;   
    }
    .btnEncriptar{
        width: 343px;
        height: 67px;
        padding: 24px;
        border-radius: 24px;
        font-size: 16px;
        font-weight: 400;
    }
    .btnDesencriptar{ 
        margin-top: 20px;  
        width: 343px;
        height: 67px;
        padding: 24px;
        border-radius: 24px;
        font-size: 16px;
        font-weight: 400;
    }
    .ContenedorMuñeco{
        display: none;
    }
    .Seccion2{   
        position: absolute;
        top: 650px;
        width: 360px;
        height: auto;
        left: 17px;
        padding: 32px;
        border-radius: 32px;
    }
    .ContenedorResultado{
        position: relative;
        top: 0px;
        bottom: 0px;
        width: 270px;
        height: auto;
        margin-left: 0px;
    }
    .ContenedorResultado p{
        color: #495057;
        font-size: 7vw;
    }
    .ContenedorParrafo{
        position: absolute;
        gap: 16px;
        top: 20px;
        width: 280px;
        left: 40px;
        height: auto;
    }
    .PrfResultado{
        font-size:6vw;
        height: 100%;
        width: 100%;
    }
    .ContenedorParrafo h3{
        font-size: 24px;
        font-weight: 700;
        height: auto;
    }
    .ContenedorParrafo p{
        font-weight: 400;
        font-size: 16px;
        padding-top: 20px;
        height: auto;
    }
    .btnCopy{
        top: 10px;
        right: 30px;
        border-radius: 24px;
        font-size: 16px;
        font-weight: 400;
        display: none;
    }
    .ContenedorCopy{
        position: relative;
        top: 0;
        width: 220px;
        height: 60px;
        background-color: transparent;
    }
    .Visible {
        width: 279px;
        height: 67px;
        display: block;
    }
}